@model Quizmint.Models.Maker

@{
    ViewBag.Title = "ForgotPassword";
}

<h4>Forgot Password</h4>

@if (ViewBag.Message == null || ViewBag.StatusOK == false)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send change password request" class="btn btn-sm btn-primary" />
                </div>
            </div>
        </div>
    }
}

@if (ViewBag.StatusOK != null)
{
    if (ViewBag.StatusOK)
    {
        //email sent successfully
        <div class="alert-success">
            @ViewBag.Message
        </div>
    }
    else
    {
        //error encountered
        <div class="alert-danger">
            @ViewBag.Message
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
