@model Quizmint.Models.Maker

@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

@if (ViewBag.StatusOK == null && ViewBag.Message != null)
{
    //error encountered : no records found
    <div class="alert-danger">
        @ViewBag.Message
    </div>
}
else
{
    if (ViewBag.StatusOK == null || ViewBag.StatusOK == false)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, "New Password", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, "Confirm New Password", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.HiddenFor(model => model.ResetPasswordCode)
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Reset" class="btn btn-sm btn-primary" />
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        if (ViewBag.statusOK)
        {
            //password reset successful
            <div class="alert-success">
                @ViewBag.Message
            </div>

            @Html.ActionLink("Login", "Login", "Makers", null, new { @class = "btn btn-sm btn-primary" })
        }
        else
        {
            //error encountered
            <div class="alert-danger">
                @ViewBag.Message
            </div>
        }
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
