<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Quizmint</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Quizmint</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        @if (Request.IsAuthenticated && Session["MakerId"] != null)
                        {            
                            <li>@Html.ActionLink("Projects", "Index", "Projects", new { id = Session["MakerId"] }, null)</li>

                            if (ViewContext.RouteData.Values["controller"].ToString() == "Projects" &&
                                ViewContext.RouteData.Values["action"].ToString() == "Details")
                            {
                                <li>@Html.ActionLink("Questions", "Index", "Questions", new { id = Session["ProjectId"] }, null)</li>
                            }

                            @*<li>@Html.ActionLink("Questions", "Index", "Questions")</li>
                            <li>@Html.ActionLink("Answers", "Index", "Answers")</li>
                            <li>@Html.ActionLink("Users", "Index", "Users")</li>
                            <li>@Html.ActionLink("Assignments", "Index", "Assignments")</li>
                            <li>@Html.ActionLink("AssignmentAnswers", "Index", "AssignmentAnswers")</li>*@
                        }
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        @if (Request.IsAuthenticated && Session["MakerId"] != null)
                        {
                            <li>@Html.ActionLink(HttpContext.Current.User.Identity.Name, "Details", "Makers", new { id = Session["MakerId"] }, null)</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Makers")</li>
                        }
                        else
                        {
                            if (ViewContext.RouteData.Values["action"].ToString() != "Login")
                            {
                                <li>@Html.ActionLink("Login", "Login", "Makers")</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Quizmint</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
