<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - QuizMint</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/main.js")
        @RenderSection("Styles", false)
    </head>
    <body>
        <nav class="navbar navbar-dark fixed-top bg-light flex-md-nowrap p-0">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand col-sm-3 col-md-2 mr-0 px-5">
                <img src="~/images/qm.png" title="QuizMint" alt="title" width="100" height="25" />
            </a>
            <ul class="navbar-nav flex-row mr-auto px-3">
                <li class="nav-item text-nowrap px-3">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item text-nowrap px-3">
                    @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                </li>
                @if (Request.IsAuthenticated && Session["MakerId"] != null)
                {
                    <li class="nav-item">@Html.ActionLink("My Projects", "Index", "Projects", null, new { @class = "nav-link" })</li>
                }
                <li class="nav-item text-nowrap px-3">
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
                </li>
            </ul>

            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                @if (Request.IsAuthenticated && Session["MakerId"] != null)
                {
                    <li class="nav-item text-nowrap px-3">@Html.ActionLink(HttpContext.Current.User.Identity.Name, "Details", "Makers", new { id = Session["MakerId"] }, new { @class = "nav-link" })</li>
                    <li class="nav-item text-nowrap px-3">@Html.ActionLink("Logout", "Logout", "Makers", null, new { @class = "nav-link" })</li>
                }
                else
                {
                    if (ViewContext.RouteData.Values["action"].ToString() != "Login")
                    {
                        <li class="nav-item text-nowrap px-3">@Html.ActionLink("Login", "Login", "Makers", null, new { @class = "nav-link" })</li>
                    }
                }
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="navbar-nav flex-column px-2">
                            @*@if (Request.IsAuthenticated && Session["MakerId"] != null)
                            {
                                if (Session["ProjectId"] != null)
                                {
                                    <li class="nav-item">@Html.ActionLink("Question List", "Index", "Questions", new { id = Session["ProjectId"] }, new { @class = "nav-link" })</li>
                                }
                                else
                                {
                                    <li class="nav-item">@Html.ActionLink("My Projects", "Index", "Projects", null, new { @class = "nav-link" })</li>
                                }
                            }*@
                        </ul> 
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                    @if (Session["ProjectId"] != null)
                    {
                        <nav class="navbar navbar-dark bg-light flex-md-nowrap p-0">
                            <ul class="navbar-nav flex-row mr-auto px-3">
                                <li class="nav-item text-nowrap px-3">
                                    @Html.ActionLink(Session["ProjectName"].ToString(), "Details", "Projects", new { id = Session["ProjectId"] }, new { @class = "nav-link" })
                                </li>
                                @if (Session["QuestionId"] != null)
                                {
                                    <li class="nav-item mt-2 px-1">>></li>
                                    <li class="nav-item text-nowrap px-3">
                                        @Html.ActionLink(Session["QuestionText"].ToString(), "Edit", "Questions", new { id = Session["QuestionId"] }, new { @class = "nav-link" })
                                    </li>  
                                }
                            </ul>
                        </nav>
                    }

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <div class="container body-content">
                            @RenderBody()
                            <hr />
                            <footer>
                                <p>&copy; @DateTime.Now.Year - QuizMint</p>
                            </footer>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
