<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Quizmint</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/main.js")
        <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" type="text/css" />
        @RenderSection("Styles", false)
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-light">
            <a href="/" class="navbar-brand">Quizmint</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mr-auto">
                    @if (Request.IsAuthenticated && Session["MakerId"] != null)
                    {
                        <li>@Html.ActionLink("Projects", "Index", "Projects", new { id = Session["MakerId"] }, null)</li>
                    }
                </ul>

                <ul class="nav navbar-nav my-2 my-md-0">
                    @if (Request.IsAuthenticated && Session["MakerId"] != null)
                    {
                        <li class="mr-sm-2">@Html.ActionLink(HttpContext.Current.User.Identity.Name, "Details", "Makers", new { id = Session["MakerId"] }, null)</li>
                        <li class="my-2 my-sm-0">@Html.ActionLink("Logout", "Logout", "Makers")</li>
                    }
                    else
                    {
                        if (ViewContext.RouteData.Values["action"].ToString() != "Login")
                        {
                            <li class="mr-sm-2">@Html.ActionLink("Login", "Login", "Makers")</li>
                        }
                    }
                </ul>
             </div>
        </nav>

        <div class="container body-content">
            @if (Session["ProjectId"] != null)
            {
                <div class="sidenav">
                    @Html.ActionLink("Questions", "Index", "Questions", new { id = Session["ProjectId"] }, new { @class = "dropdown-toggle" })
                </div>
            }
            <div class="@(Session["ProjectId"] != null? "main" : "")">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Quizmint</p>
                </footer>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
