@model IEnumerable<Quizmint.Models.Question>

@{
    ViewBag.Title = "Questions";
}

<h4>Question list for : @Session["ProjectName"]</h4>

<p>
    @Html.ActionLink("Create New Question", "Create", "Questions", null, new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table">
    @for(int i=0; i<Model.Count(); i++) {
        var item = Model.ElementAtOrDefault(i);
        <tr>
            <td>
                @(i+1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Questions", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
                @Html.ActionLink("Delete", "Delete", "Questions", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
            </td>
        </tr>
    }
</table>
