@model Quizmint.Models.Project

@{
    ViewBag.Title = "Details";
}

<h4>Project Details</h4>
<div class="form-horizontal">
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.ProjectName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ProjectDescription, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.ProjectDescription, new { @readonly = true, @class = "form-control", @rows = 3 })
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit Project", "Edit", "Projects", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Question List", "Index", "Questions", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
</p>