@model IEnumerable<Quizmint.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<h4>My Projects</h4>

<p>
    <a href="@Url.Action("Create", "Projects")" class="btn btn-sm btn-primary">
        <i class="fa fa-plus">&nbsp;</i>
        Create New Project
    </a>
</p>
<table class="table">
    <tr>
        <th>
            Project Name
        </th>
        <th>
            Create Date
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a href="@Url.Action("Index", "Questions", new { id = item.Id })">
                    <i class="fa fa-list-alt" title="Question List"></i>
                </a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href="@Url.Action("Details", "Projects", new { id = item.Id })">
                    <i class="fa fa-pencil" title="Edit"></i>
                </a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href="@Url.Action("Delete", "Projects", new { id = item.Id })">
                    <i class="fa fa-trash-o" title="Delete"></i>
                </a>
            </td>
        </tr>
    }
</table>
