@model IEnumerable<Quizmint.Models.Answer>

@{
    ViewBag.Title = "Index";
    char x = 'a';
}

<h4>Answer choices for : @Session["QuestionText"]</h4>

<p>
    @Html.ActionLink("Add New Answer Choice", "Create", "Answers", null, new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Answer Choice
        </th>
        <th>
            Correct Answer?
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Count(); i++)
    {
        var item = Model.ElementAtOrDefault(i);
    <tr>
        <td><h5>@(x++).</h5></td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerText)
        </td>
        <td>
            @if (item.IsCorrectAnswer != null)
            {
                @item.IsCorrectAnswer
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Answers", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
        </td>
    </tr>
    }

</table>
