@model IEnumerable<Quizmint.Models.Answer>

@{
    ViewBag.Title = "Index";
    char x = 'a';
}

<h4>Answer choices for : @Session["QuestionText"]</h4>

<p>
    <a href="@Url.Action("Create", "Answers")" class="btn btn-sm btn-primary">
        <i class="fa fa-plus">&nbsp;</i>
        Add New Answer Choice
    </a>
</p>
<table class="table table-sm">
    <tr>
        <th></th>
        <th>
            Answer Choice
        </th>
        <th>
            Correct Answer?
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Count(); i++)
    {
        var item = Model.ElementAtOrDefault(i);
        <tr>
            <td><h5>@(x++).</h5></td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerText)
            </td>
            <td>
                @if (item.IsCorrectAnswer)
                {
                    @Html.CheckBoxFor(m => item.IsCorrectAnswer, new { @disabled = "disabled" })
                }
            </td>
            <td>
                <a href="@Url.Action("Edit", "Answers", new { id = item.Id })">
                    <i class="fa fa-pencil" title="Edit"></i>
                </a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href="@Url.Action("_delete", "Answers", new { id = item.Id })" onclick="return confirm('Are you sure you want to delete this?')">
                    <i class="fa fa-trash-o" title="Delete"></i>
                </a>
            </td>
        </tr>
    }
</table>
