@model IEnumerable<Quizmint.Models.Answer>

@{
    ViewBag.Title = "Index";
}

<h4>Answer choices for :&nbsp;&nbsp;@ViewBag.QuestionText</h4>

<p>
    @Html.ActionLink("Add New Answer Choice", "Create", "Answers", null, new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Answer Text
        </th>
        <th>
            Correct Answer?
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerText)
        </td>
        <td>
            @if (item.IsCorrectAnswer != null)
            {
                @item.IsCorrectAnswer
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Edit", "Edit", "Answers", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
